body {
    padding: 48px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: #2e2f42;
}

button {
    outline: none;
    border: none;
}

.controls {
    display: flex;
    gap: 8px;
}

#datetime-picker,
[data-start] {
    display: block;
    border-radius: 4px;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: 0.04em;
}

#datetime-picker {
    position: relative;
    border: 1px solid #808080;
    width: 280px;
    padding: 7px 15px;
    color: inherit;
    transition: border-color 250ms linear;
}

#datetime-picker:hover {
    border: 1px solid #000000;
}

#datetime-picker:focus {
    border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
    color: #808080;
    background-color: #fafafa;
    cursor: default;
}

[data-start] {
    padding: 8px 16px;
    font-weight: 500;
    color: #fff;
    background-color: #4e75ff;
    cursor: pointer;
}

[data-start]:hover {
    background-color: #6c8cff;
}

[data-start]:disabled {
    color: #989898;
    background-color: #cfcfcf;
    cursor: default;
}

.timer {
    margin-top: 32px;
    display: flex;
    gap: 24px;
}

.field {
    text-align: center;
}

.value {
    display: block;
    line-height: 1.2;
    font-size: 40px;
    letter-spacing: 0.04em;
}

.label {
    display: block;
}